@model List<ResultFeatureDtos>
@{
    ViewData["Title"] = "Özellikleri Listele";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Ikon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><i class="@item.Icon"></i></td>
            <td><a asp-action="DeleteFeature" asp-route-id="@item.FeatureId" class="btn btn-danger">Sil</a> </td>
            <td><a asp-action="UpdateFeature" asp-route-id="@item.FeatureId" class="btn btn-info">Güncelle</a> </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="CreateFeature" asp-controller="AdminFeature" asp-area="Admin" class="btn btn-primary">Yeni Özellik Ekle</a>
</div>
