@model PagedList<ResultBrandDto>
@{
    ViewData["Title"] = "Markalar";
    Layout = "~/Areas/Admin/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = (Model.PageNumber * Model.PageSize - (Model.PageSize - 1));
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Marka</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@count</td>
            <td>@item.BrandName</td>
            <td><a asp-action="DeleteBrand" asp-route-id="@item.BrandId" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a></td>
            <td><a asp-action="UpdateBrand" asp-route-id="@item.BrandId" class="btn btn-warning"><i class="fa fa-pen"></i> Güncelle</a></td>
        </tr>
        count++;

    }
</table>

<div class="text-center">
    <pager asp-action="Index" asp-controller="AdminBrand" asp-area="Admin" list="@Model"></pager>
</div>

<div class="text-center">
    <a asp-action="CreateBrand" asp-controller="AdminBrand" asp-area="Admin" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Yeni Marka Ekle</a>
</div>

